services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.1.5@sha256:38604132e9d6cf4cd0acc090b3de645361dc142384e5341338aecb863741c630
    environment:
      - discovery.type=single-node
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - xpack.security.enabled=false  # Disable security features
      - xpack.security.http.ssl.enabled=false  # Disable HTTPS
      - action.destructive_requires_name=false
      - xpack.monitoring.collection.enabled=false  # Disable monitoring features
      - ES_LOG_LEVEL=trace  # Set log level to capture all queries
      - logger.org.elasticsearch.index.search.slowlog=TRACE  # Log all slow queries
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:9200 || exit 1" ]
      interval: 10s
      timeout: 10s
      retries: 30

  jaeger:
    image: jaegertracing/jaeger:2.9.0
    volumes:
      - "./jaeger/jaeger-ui.json:/etc/jaeger/jaeger-ui.json" # Do we need this for v2 ? Seems to be running without this.
      - "./jaeger/config-spm.yaml:/etc/jaeger/config.yml"
    command: ["--config", "/etc/jaeger/config.yml"]
    # ports:
    #   - "16686:16686" # Jaeger UI http://localhost:16686
    #   - "8888:8888"
    #   - "8889:8889"
    #   - "4317:4317"
    #   - "4318:4318"
    depends_on:
      elasticsearch:
        condition: service_healthy
    labels:
      - traefik.enable=true
      - traefik.http.routers.jaeger-ui.rule=Host(`tracing.94peter.dev`)
      - traefik.http.routers.jaeger-ui.entrypoints=web
      - traefik.http.services.jaeger-ui.loadbalancer.server.port=16686

volumes:
  esdata:
    driver: local